<div class="d-flex flex-column align-center justify-center text-center pa-4">
    <MudIcon Icon="@Icons.Material.Filled.SearchOff" Color="Color.Primary" Style="font-size: 8rem;" />
    <MudText Typo="Typo.h3" Class="mt-4 mb-2">No Results Found</MudText>
    <MudText Typo="Typo.body1" Class="mb-8">
        We couldn't find any artworks matching your request. Please try a different search.
    </MudText>
    <MudButton Href="/search" Variant="Variant.Filled" Color="Color.Primary" Class="rounded-lg">
        Go Back to Search
    </MudButton>
</div>

@code {

}
