
<div class="d-flex flex-column align-center justify-center text-center pa-4" style="height: 100%;">
    <MudText Typo="Typo.h1" Color="Color.Primary" Class="mb-4">404</MudText>
    <MudText Typo="Typo.h3" Class="mb-2">Page Not Found</MudText>
    <MudText Typo="Typo.body1" Class="mb-8">
        We're sorry, but the page you requested could not be found.
    </MudText>
    <MudButton Href="/" Variant="Variant.Filled" Color="Color.Primary">
        Go to Home Page
    </MudButton>
</div>

@code {

}
