@rendermode InteractiveServer
@page "/"
@inject IBackgroundService BackgroundService
@using ECP.UI.Server.Components.Shared
@using ECP.UI.Server.Models
@using ECP.UI.Server.Components.Search


<PageTitle>Home</PageTitle>

<main role="main" id="outer-content-container" style="@($"background-image: url('{backgroundData.ImgUrl}')")">
    <div id="container-overlay">
       <div id="inner-content-container">
            <div id="search-container" role="search">
                <SearchBar></SearchBar>
                <PopularSearchQueries></PopularSearchQueries>
           </div>
            <figure class="img-caption">
                <figcaption>
                    <p>@backgroundData.Title</p>
                    <p>@backgroundData.Artist</p>
                </figcaption>
            </figure>
        </div>
    </div>

</main>
<style>
    .mud-icon-size-large, .mud-icon-size-medium {
        fill: white !important;
    }
</style>
@code{

    private BackgroundData backgroundData = null;

    protected override void OnInitialized()
    {
        backgroundData = BackgroundService.GetBackgroundImage();
    }

}