@rendermode InteractiveServer
@page "/"
@inject IBackgroundService BackgroundService
@using ECP.UI.Server.Components.Shared
@using ECP.UI.Server.Models
@using ECP.UI.Server.Components.Search


<PageTitle>Home</PageTitle>

<div id="outer-content-container" style="@($"background-image: url('{backgroundData.ImgUrl}')")">
    <div id="container-overlay">
       <div id="inner-content-container">
           <div id="search-container">
                <SearchBar></SearchBar>
                <PopularSearchQueries></PopularSearchQueries>
           </div>
            <div class="img-caption">       
                <p>@backgroundData.Title</p>
                <p>@backgroundData.Artist</p>
            </div>
        </div>
    </div>

</div>
<style>
    .mud-icon-size-large, .mud-icon-size-medium {
        fill: white !important;
    }
</style>
@code{

    private BackgroundData backgroundData = null;

    protected override void OnInitialized()
    {
        backgroundData = BackgroundService.GetBackgroundImage();
    }

}