<div class="masonry-grid">
    @foreach (var item in List)
    {
        <MasonryGridItem Artwork="item" OnDelete="OnItemDelete" IsRemovable="IsContentRemovable"/>
    }
</div>








@code {
    [Parameter]
    public List<ArtworkPreview> List { get; set; }

    [Parameter]
    public bool IsContentRemovable { get; set; }

    [Parameter]
    public EventCallback<string> OnItemDelete { get; set; }
}