
.search-container {
    width: 100%;
    display: flex;
    justify-content: center;    
}

.search-wrapper {
    position: relative;
    width: 100%;
}

.search-input {
    width: 100%;
    padding: 0.3rem 1rem 0.3rem 3rem;
    border-radius: 9999px;
    background-color: rgba(0,0,0,0.35);
    color: white;
    border: 2px solid white;
    outline: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease-in-out;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    box-sizing: border-box;
}

.search-input:focus {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.search-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    pointer-events: none;
}

.clear-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1rem;
    cursor: pointer;
    display: flex;
    z-index: 100;
    align-items: center;
    padding-left: 0.75rem;
    border-left: 1px white solid;
}

.clear-icon svg {
    width: 1.25rem;
    height: 1.25rem;
    color: white;
    cursor: pointer;
}

.search-icon svg {
    width: 1.25rem;
    height: 1.25rem;
    color: white;
}

::placeholder {
    color: darkgray;
}

@media (max-width: 992px) {
    #inner-content-container {
        width: 100%;
        max-width: 100%;
        padding: 0 1rem;
    }

    .search-wrapper {
        max-width: 100%;
    }

    .search-input {
        border-radius: 1rem;
        height: 5rem;
    }
}
