@using ECP.UI.Server.Models

<div class="results-header mb-2">
    <MudText Typo="Typo.h5" Class="results-title mt-5">
        @if (!string.IsNullOrWhiteSpace(SearchQuery))
        {
            <text>Results for "@SearchQuery"</text>
        }
        else
        {
            <text>All Artworks</text>
        }
    </MudText>
    <MudDivider Class="my-3" />
    <div class="search-results-info">
        <MudText Typo="Typo.body2" Class="text-secondary mb-5">
            Showing @(((PageNumber - 1) * 25) + (TotalResults == 0 ? 0 : 1)) - @Math.Min(PageNumber * 25, TotalResults)
            of @TotalResults results
        </MudText>
        <SortAndFilterControls 
            OnFilterClick="OnFilterClick"
            OnSortDirectionChanged="OnSortDirectionChanged"
            OnSortFieldChanged="OnSortFieldChanged"
            SortText="@SortText"
            IsDescending="IsDescending"></SortAndFilterControls>
    </div>
</div>
@code {
    [Parameter]
    public string? SearchQuery { get; set; }
    [Parameter]
    public int PageNumber { get; set; }
    [Parameter]
    public int TotalResults { get; set; }
    [Parameter]
    public EventCallback OnFilterClick { get; set; }
    [Parameter]
    public EventCallback<bool> OnSortDirectionChanged { get; set; }
    [Parameter]
    public EventCallback<int> OnSortFieldChanged { get; set; }
    [Parameter]
    public string? SortText { get; set; }
    [Parameter]
    public bool IsDescending { get; set; }
}
