@rendermode InteractiveServer
@page "/"

<PageTitle>Home</PageTitle>

<main>
   <div id="home-content-container">
        <SearchBar></SearchBar>
    </div>
</main>

@code{
    public string TextValue { get; set; }
}