<div class="masonry-grid">
    @foreach (var item in List)
    {
        <MasonryGridItem Artwork="item" />
    }
</div>








@code {
    [Parameter]
    public List<ArtworkPreview> List { get; set; }
}