<a href="@($"/artwork/{Artwork.SourceId}/{(int)Artwork.Source}")" class="masonry-item">
    <div class="masonry-content">
            @if (!string.IsNullOrWhiteSpace(Artwork.Thumbnail.Url))
            {
                <img src="@Artwork.Thumbnail.Url" alt="@Artwork.Title" class="item-image" />
            }
            else
            {
                <div class="placeholder-image">
                    <p>No Image</p>
                </div>
            }
            <div class="hover-overlay">
                <div class="overlay-content">
                    <h5 class="overlay-title">@Artwork.Title</h5>
                </div>
            </div>
        </div>
</a>
@code {
    [Parameter]
    public ArtworkPreview Artwork { get; set; }
}
